/A - SOURCE_CODE/A - FRONT_END/A - ADMIN_WEB/ngx-v-6.0-master/node_modules
/A - SOURCE_CODE/A - FRONT_END/A - ADMIN_WEB/ngx-v-6.0-master/.idea
/A - SOURCE_CODE/A - FRONT_END/B - IONIC_APP/node_modules
/A - SOURCE_CODE/A - FRONT_END/B - IONIC_APP/www
/A - SOURCE_CODE/A - FRONT_END/B - IONIC_APP/package-lock.json
/node_modules
/.idea
/.sourcemaps
/platforms
/plugins
/www
/.editorconfig
/package-lock.json
